*
  box-sizing border-box
  margin 0
  padding 0
  line-height 1.5
  font-family 'Helvetica Neue', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif
html, body, #app
  height 100%
img
  display block
a
  text-decoration none
  cursor pointer
  outline none
  color inherit
a:visited
  color inherit
input
  border none
  appearance none
  outline none
  box-shadow none
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  appearance none
  margin 0
button
  outline none
textarea
  outline none
  resize none
ul, ol, li, em
  list-style none
  font-style normal
h1, h2, h3, h4, h5, h6
  font-weight normal
.container-1080
  margin 0 auto
  width 1080px
.container-1200
  margin 0 auto
  width 1200px
.blank
  flex-grow 1
.clearfix::after
  content ''
  display block
  width 0
  height 0
  clear both
